{% extends 'base.html' %}

{% block content %}
    <form action="#" method="post">
            <div class="container container-fluid">
                <div class="d-flex flex-column mb-3">
                    <h1 class="h1 text-center p-2" >Player Music</h1>
                    <input type="text" class="form-control p-2" name=nome placeholder="Digite sua musica ou banda favorita">
                    <input type="submit" class="btn btn-primary align-middle p-2" value="submit">
                </div>
            </div>
    </form>
{% endblock %}